<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <title>System Vitals</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        let isRefreshing = true;

        let INTERVAL;

        let CACHE = 60;

        const cpu = {
            data: [],
            labels: [],
            chart: null
        };

        const ram = {
            data: [],
            labels: [],
            chart: null
        };

        const disk = {
            data_read: [],
            data_write: [],
            labels: [],
            chart: null
        };

        const network = {
            data_send: [],
            data_receive: [],
            labels: [],
            chart: null
        };



        function initializeChart() {
            let ctx = document.getElementById('cpuChart').getContext('2d');
            cpu.chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: cpu.labels,
                    datasets: [{
                        label: 'CPU Usage (%)',
                        data: cpu.data,
                        borderColor: 'rgba(75, 192, 192, 0.8)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            min: 0,
                            max: 100
                        },
                    }
                }

            });
            let ramCtx = document.getElementById('ramChart').getContext('2d');
            ram.chart = new Chart(ramCtx, {
                type: 'line',
                data: {
                    labels: ram.labels,
                    datasets: [{
                        label: 'RAM Usage (%)',
                        data: ram.data,
                        borderColor: 'rgba(75, 0, 192, 0.8)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            min: 0,
                            max: 100
                        },
                    }
                }
            });
            let diskCtx = document.getElementById('diskChart').getContext('2d');
            disk.chart = new Chart(diskCtx, {
                type: 'line',
                data: {
                    labels: disk.labels,
                    datasets: [{
                        label: 'Disk Read Speed',
                        data: disk.data_read,
                        borderColor: 'rgba(75, 0, 192, 0.8)',
                        borderWidth: 1
                    }, {
                        label: 'Disk Write Speed',
                        data: disk.data_write,
                        borderColor: 'rgba(75, 100, 192, 0.8)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    let label = context.dataset.label || '';
                                    if (label) label += ': ';
                                    label += formatSpeed_toString(context.parsed.y, 'both');
                                    return label;
                                }
                            }
                        }
                    }
                }
            });
            let networkCtx = document.getElementById('networkChart').getContext('2d');
            network.chart = new Chart(networkCtx, {
                type: 'line',
                data: {
                    labels: network.labels,
                    datasets: [{
                        label: 'Network Send Speed',
                        data: network.data_send,
                        borderColor: 'rgba(255, 99, 132, 0.8)',
                        borderWidth: 1
                    }, {
                        label: 'Network Receive Speed',
                        data: network.data_receive,
                        borderColor: 'rgba(54, 162, 235, 0.8)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    let label = context.dataset.label || '';
                                    if (label) label += ': ';
                                    label += formatSpeed_toString(context.parsed.y, 'both');
                                    return label;
                                }
                            }
                        }
                    }
                }
            });
        }

        function updateChartData(componentObj, cacheDataArr, fresh_data, shouldUpdateLabel) {
            cacheDataArr.push(fresh_data);
            if (shouldUpdateLabel) {
                componentObj.labels.push(new Date().toLocaleTimeString());
            }
            if (cacheDataArr.length > CACHE) {
                cacheDataArr.shift();
                if (shouldUpdateLabel) {
                    componentObj.labels.shift();
                }
            }
            componentObj.chart.update();
        }

        function calculateAverage(array) {
            var sum = array.reduce(function (a, b) {
                return a + b;
            }, 0);

            return sum / array.length;
        }

        function formatSpeed_toString(speedInBitsPerSecond, format) {
            if (typeof speedInBitsPerSecond !== 'number' || speedInBitsPerSecond < 0 || typeof format !== 'string') {
                throw new Error("Invalid input");
            }
            format = format.toLowerCase();
            if (format == 'bits') {
                let speedInKbps = speedInBitsPerSecond / 1024;  // Convert bits to kilobits
                if (speedInKbps < 1024) {
                    return `${speedInKbps.toFixed(2)} Kbps`;
                } else {
                    let speedInMbps = speedInKbps / 1024;  // Convert kilobits to megabits
                    return `${speedInMbps.toFixed(2)} Mbps`;
                }
            }
            else if (format == 'bytes') {
                let speedInBytesPerSecond = speedInBitsPerSecond / 8; // Convert Bits to Bytes
                let speedInKBps = speedInBytesPerSecond / 1024;  // Convert Bytes to KiloBytes
                if (speedInKBps < 1024) {
                    return `(${speedInKBps.toFixed(2)} KB/s)`;
                } else {
                    let speedInMBps = speedInKBps / 1024;  // Convert kilobytes to megabytes
                    return `(${speedInMBps.toFixed(2)} MB/s)`;
                }
            }
            else if (format == 'both') {
                return formatSpeed_toString(speedInBitsPerSecond, 'bits') + ' ' + formatSpeed_toString(speedInBitsPerSecond, 'bytes');
            }
            else {
                throw new Error("Invalid format type. Use 'bits', 'bytes' or 'both'");
            }
        }

        function refreshData() {
            if (!isRefreshing) {
                return;
            }

            fetch('/data')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(fresh_data => {
                    document.getElementById('error-message').textContent = "";
                    document.getElementById('cpu-usage').textContent = fresh_data.total_cpu;
                    document.getElementById('cpu-per-core').textContent = String(fresh_data.cpu).replaceAll(',', ' | ');
                    document.getElementById('ram-usage').textContent = fresh_data.ram;
                    document.getElementById('disk-read').textContent = formatSpeed_toString(fresh_data.disk.read_speed, 'both');
                    document.getElementById('disk-write').textContent = formatSpeed_toString(fresh_data.disk.write_speed, 'both');
                    document.getElementById('disk-read-average').textContent = formatSpeed_toString(calculateAverage(disk.data_read), 'both');
                    document.getElementById('disk-write-average').textContent = formatSpeed_toString(calculateAverage(disk.data_write), 'both');
                    document.getElementById('network-send').textContent = formatSpeed_toString(fresh_data.network.sent_speed, 'both');
                    document.getElementById('network-receive').textContent = formatSpeed_toString(fresh_data.network.recv_speed, 'both');
                    document.getElementById('network-send-average').textContent = formatSpeed_toString(calculateAverage(network.data_send), 'both');
                    document.getElementById('network-receive-average').textContent = formatSpeed_toString(calculateAverage(network.data_receive), 'both');
                    document.getElementById('machine-name').textContent = fresh_data.machine.name;
                    INTERVAL = fresh_data.settings.interval;
                    CACHE = fresh_data.settings.cache;

                    updateChartData(cpu, cpu.data, fresh_data.total_cpu, true);
                    updateChartData(ram, ram.data, fresh_data.ram, true);
                    updateChartData(disk, disk.data_read, fresh_data.disk.read_speed, true);
                    updateChartData(disk, disk.data_write, fresh_data.disk.write_speed, false);
                    updateChartData(network, network.data_send, fresh_data.network.sent_speed, true);
                    updateChartData(network, network.data_receive, fresh_data.network.recv_speed, false);
                })
                .catch((error) => {
                    console.error('There has been a problem with your fetch operation: ', error);
                    // Display an error message in the UI:
                    document.getElementById('error-message').textContent = "Error while fetching data. Possibly the server is down.";
                });

            setTimeout(refreshData, INTERVAL);
        }


        function toggleRefresh() {
            isRefreshing = !isRefreshing;
            const buttonText = isRefreshing ? "Stop refreshing" : "Start refreshing";
            document.getElementById('refresh-button').textContent = buttonText;
            refreshData();
        }
        window.onload = function () {
            initializeChart();
            refreshData();
        }
    </script>
</head>

<body>
    <h1>System Vitals</h1>
    <h2>Displaying system vitals for: <span id="machine-name"></span></h2>
    <p id="error-message" style="color: red;"></p>
    <div class="grid-container">
        <div id="cpu" class="grid-item">
            <h2>CPU Usage</h2>
            <p>Total: <span id="cpu-usage"></span>%</p>
            <canvas id="cpuChart" class="chart"></canvas>
            <p>Per Core: <span id="cpu-per-core"></span></p>
        </div>
        <div id="ram" class="grid-item">
            <h2>RAM Usage</h2>
            <p>Total: <span id="ram-usage"></span>%</p>
            <canvas id="ramChart" class="chart"></canvas>
        </div>
        <div id="disk" class="grid-item">
            <h2>Disk IO</h2>
            <div class="data-grid">
                <div>
                    <p>Read: <span id="disk-read"></span></p>
                    <p>Write: <span id="disk-write"></span></p>
                </div>
                <div>
                    <p>Average: <span id="disk-read-average"></span></p>
                    <p>Average: <span id="disk-write-average"></span></p>
                </div>
            </div>
            <canvas id="diskChart" class="chart"></canvas>
        </div>
        <div id="network" class="grid-item">
            <h2>Network</h2>
            <div class="data-grid">
                <div>
                    <p>Send: <span id="network-send"></span> </p>
                    <p>Receive: <span id="network-receive"></span> </p>
                </div>
                <div>
                    <p>Average: <span id="network-receive-average"></span></p>
                    <p>Average: <span id="network-send-average"></span></p>
                </div>
            </div>
            <canvas id="networkChart" class="chart"></canvas>

        </div>

    </div>
    <button id="refresh-button" onclick="toggleRefresh()">Stop refreshing</button>
</body>
<footer>
    <p>© 2023 - Shahaf Shavit | Home Server Monitor v1.2</p>
</footer>


</html>